# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/dist-ssr

# Misc
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor folders
.vscode/
.idea/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# Backup and Database utility files
backup.json
scripts/test-query.js
scripts/test-single-agent.js
